body {
    
}
header, nav {
    font-family: "Rubik", sans-serif;
    display: inline-flex;
    align-items: center;
    margin-left: 90px;
}
.but {
    margin-left: 185px;
}
button {
    margin-left: 20px;
    border:1px solid white;
    border-radius: 25px; 
    background-color: rgb(250, 250, 251);
    padding: 10px 35px;
    margin-right: 5px;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
}
button:hover {
    border: 1px solid #F53855; 
}
.titulo {
    display: inline-flex;
}
.ic1{
    margin-top: 5px;
}
nav {
    margin-left: 250px;
}
nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 16px;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #737373;
    font-family: "Rubik", sans-serif;

}
.part2 {
    display: inline-flex;

}
.sub {
    margin-left: 90px;
    margin-top: 130px;
}
.h22 {
    width: 400px; 
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}
.h222 {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    width: 450px;
    color: #737373;
}
.but1{
    margin-top: 80px;
}
.but1:hover  {
    background-color: #F53838;
    color: white;
    padding: 10px 40px;
}
.img1 {
    margin-left: 50px;
    width: 800px;
    margin-top: 40px;
}
.part3 {
    display: inline-flex;
    font-family: "Rubik", sans-serif;
    margin-left: 80px;
    margin-top: 120px;
    width: 1260px;
    background-color: white;
    height: 200px;

}
.box{
    position: relative;
    margin-right: 355px;
    width: 238px;
    height: 209px;
    display: inline-flex;
}
.boxint {
   margin-top: 65px; 
   margin-left: 30px;
}
.boxint1 {
    margin-top: 40px;
    margin-left: 30px;

}
h3 {
    font-size: 25px;
}
.p2 {
    margin-top: -20px;
}

.part4 {
    display: inline-flex;
    font-family: "Rubik", sans-serif;
}
.img2 {
    width: 800px;
}
.sub2 {
    margin-top: 140px;
    width: 350px;
    margin-left: 130px;
}
h4 {

    font-size: 30px;
}
.p4 {
    margin-top: 30px;
    width: 450px;
    margin-left: 10px;
}
.tick {
    margin-top: 75px;
}
.tick1{
    display: inline-flex;
}
.imgtick{
    margin-top: 18px;
}
.titulo3 {
    font-family: "Rubik", sans-serif;
}
h5 {
    margin-left: 540px;
    margin-top: 100px;
    font-size: 40px;
}
.p5 {
    margin-left: 430px;
    width: 600px;
    text-align: center;
}
.part6 {
    display: inline-flex;
    font-family: "Rubik", sans-serif;
    margin-top: 50px;
    padding-left: 185px;
}
.rect {
    width: 330px;
    height: 750px;
    margin-right: 50px;
    background-color: white;
}
.rect:hover {
    border: 1px solid blue;
}
.h61 {
    margin-left: 115px;
    margin-top: 30px;
    font-size: 20px;
}
.h62 {
    margin-left: 90px;
    margin-top: 30px;
    font-size: 20px;
}
.h63 {
    margin-left: 90px;
    margin-top: 30px;
    font-size: 20px;
}
.opt1{
    margin-top: 70px;

}
.p71{
   margin-left: 65px;
   margin-top: 122px;
}
.prec1 {
    margin-left:85px;
}
.opt2{
    margin-top: 70px;
    
}
.p72 {
    margin-left: 55px;
    margin-top: 75px;
}
.prec2 {
   margin-left:85px;
}
.opt3 {
    margin-top: 70px;
}  
.p73 {
    margin-left: 55px;
    margin-top: 30px;
}
.prec3 {
    margin-left:85px;
}
.img7 {
    margin-left: 90px;
    margin-top: 40px;
}
.p10 {
    display: inline-flex;
}
.chk{
    margin-left: 50px;
}
.p6 {
    margin-left: 30px;
    margin-top: 10px;
}
.select3 {
    border: 1px solid red;
    padding: 10px 45px;
    color: #F53838;
    border-radius: 25;
}
.select3:hover {
    background: #F53838;
    color: white;
}
.titulo9 {
    display: inline-flex;
    margin-left: 185px ;
    margin-top: 100px;
    font-family: "Rubik", sans-serif;
}
.titulo20 {
    margin-right: 220px;
}
.col {
    margin-right: 210px;
}

.las {
    width: 200px;
}
.log {
    margin-left: -20px;
    display: inline-flex;
}
